.notification-container-top-center,
.notification-container-bottom-center,
.notification-container-top-left,
.notification-container-top-right,
.notification-container-bottom-left,
.notification-container-bottom-right,
.notification-container-mobile-top,
.notification-container-mobile-bottom {
  position: fixed;
  z-index: 8000;
}

.notification-container-top-center {
  transform: translateX(-50%);
  top: 1rem;
  left: 50%;
}

.notification-container-bottom-center {
  transform: translateX(-50%);
  bottom: 1rem;
  left: 50%;
}

.notification-container-top-left {
  left: 1rem;
  top: 1rem;
}

.notification-container-top-right {
  right: 1rem;
  top: 1rem;
}

.notification-container-bottom-left {
  left: 1rem;
  bottom: 1rem;
}

.notification-container-bottom-right {
  bottom: 1rem;
  right: 1rem;
}

.notification-container-mobile-top {
  right: 1rem;
  left: 1rem;
  top: 1rem;
}

.notification-container-mobile-bottom {
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  margin-bottom: -1rem;
}
