@import "_variables.scss";

.notification-primary {
  background-color: $primary;
  border-left: 8px solid darken($primary, 15);

  .timer {
    background-color: $primary_timer;
  }
  .timer-filler {
    background-color: $primary_timer_filler;
  }
  .notification-close {
    // background-color: $primary;
    color: lighten($primary, 25);
    &:hover {
      color: lighten($primary, 36);
    }
  }
}

.notification-secondary {
  background-color: $secondary;
  border-left: 8px solid darken($secondary, 15);

  .timer {
    background-color: $secondary_timer;
  }
  .timer-filler {
    background-color: $secondary_timer_filler;
  }
  .notification-close {
    // background-color: $primary;
    color: lighten($secondary, 25);
    &:hover {
      color: lighten($secondary, 36);
    }
  }
}

.notification-success {
  background-color: $success;
  border-left: 8px solid darken($success, 15);

  .timer {
    background-color: $success_timer;
  }
  .timer-filler {
    background-color: $success_timer_filler;
  }
  .notification-close {
    // background-color: $success;
    color: lighten($success, 25);
    &:hover {
      color: lighten($success, 36);
    }
  }
}

.notification-danger {
  background-color: $danger;
  border-left: 8px solid darken($danger, 10);

  .timer {
    background-color: $danger_timer;
  }
  .timer-filler {
    background-color: $danger_timer_filler;
  }
  .notification-close {
    // background-color: $danger;
    color: lighten($danger, 25);
    &:hover {
      color: lighten($danger, 36);
    }
  }
}

.notification-warning {
  background-color: $warning;
  border-left: 8px solid darken($warning, 15);

  .timer {
    background-color: $warning_timer;
  }
  .timer-filler {
    background-color: $warning_timer_filler;
  }
  .notification-close {
    // background-color: $warning;
    color: lighten($warning, 25);
    &:hover {
      color: lighten($warning, 36);
    }
  }
  .notification-title,
  .notification-message {
    color: #000 !important;
  }
}

.notification-info {
  background-color: $info;
  border-left: 8px solid darken($info, 15);

  .timer {
    background-color: $info_timer;
  }
  .timer-filler {
    background-color: $info_timer_filler;
  }
  .notification-close {
    // background-color: $info;
    color: lighten($info, 25);
    &:hover {
      color: lighten($info, 36);
    }
  }
}

.notification-light {
  background-color: $light;
  border-left: 8px solid darken($light, 15);

  .timer {
    background-color: $light_timer;
  }
  .timer-filler {
    background-color: $light_timer_filler;
  }
  .notification-close {
    // background-color: $info;
    color: lighten($dark, 25);
    &:hover {
      color: lighten($dark, 36);
    }
  }
  .notification-title,
  .notification-message {
    color: $dark !important;
  }
}

.notification-dark {
  background-color: $dark;
  border-left: 8px solid darken($dark, 15);

  .timer {
    background-color: $dark_timer;
  }
  .timer-filler {
    background-color: $dark_timer_filler;
  }
  .notification-close {
    // background-color: $info;
    color: lighten($dark, 25);
    &:hover {
      color: lighten($dark, 36);
    }
  }
}

.notification-blank {
  background-color: $blank;
  border-left: 8px solid darken($blank, 15);

  .timer {
    background-color: $blank_timer;
  }
  .timer-filler {
    background-color: $blank_timer_filler;
  }
  .notification-close {
    // background-color: $blank;
    color: lighten($blank, 25);
    &:hover {
      color: lighten($blank, 36);
    }
  }
}
