/** TYPES **/
$primary: #007bff;
$primary_timer: #007bff;
$primary_timer_filler: #fff;
$success: #28a745;
$success_timer: #28a745;
$success_timer_filler: #fff;
$danger: #dc3545;
$danger_timer: #dc3545;
$danger_timer_filler: #fff;
$info: #17a2b8;
$info_timer: #17a2b8;
$info_timer_filler: #fff;
$warning: #ffc107;
$warning_timer: #ffc107;
$warning_timer_filler: #fff;
$blank: #fff;
$blank_timer: #fff;
$blank_timer_filler: #343a40;
$light: #f8f9fa;
$light_timer: #685dc3;
$light_timer_filler: #fff;
$secondary: #6c757d;
$secondary_timer: #685dc3;
$secondary_timer_filler: #fff;
$dark: #343a40;
$dark_timer: #685dc3;
$dark_timer_filler: #fff;
