@import "./_containers.scss";
@import "./_types.scss";

@keyframes timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.notification-item {
  display: flex;
  position: relative;
  // border-radius: 3px;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  .timer {
    width: 100%;
    height: 0.25rem;
    margin-top: 10px;
    border-radius: 5px;

    .timer-filler {
      height: 3px;
      border-radius: 5px;
    }
  }

  .notification-title {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .notification-message {
    color: #fff;
    max-width: calc(100% - 1rem);
    font-size: 1rem;
    line-height: 150%;
    word-wrap: break-word;
    margin-bottom: 0;
    margin-top: 0;
  }

  .notification-item-inner {
    padding: 0.5rem 1rem;
    display: inline-block;
    width: 100%;
  }

  .notification-close {
    width: 1.5rem;
    height: 1.5rem;
    // border-radius: 50%;
    display: inline-flex;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    // color: #56a8ff;

    // &::after {
    //   content: "\D7";
    //   position: absolute;
    //   transform: translate(-50%, -50%);
    //   color: #fff;
    //   font-size: 12px;
    //   left: 50%;
    //   top: 50%;
    // }
  }
}

.n-parent {
  width: 275px;
}

.notification-container {
  max-width: 480px;
}

.notification-container-mobile-top .notification-item,
.notification-container-mobile-bottom .notification-item,
.notification-container-mobile-top .n-parent,
.notification-container-mobile-bottom .n-parent {
  max-width: 100%;
  width: 100%;
}

.notification-container-top-right .n-parent,
.notification-container-bottom-right .n-parent {
  margin-left: auto;
}

.notification-container-top-left .n-parent,
.notification-container-bottom-left .n-parent {
  margin-right: auto;
}

.notification-container-mobile-top .n-parent,
.notification-container-mobile-bottom .n-parent {
  margin-left: auto;
  margin-right: auto;
}

.delay-300ms {
  animation-duration: 300ms;
  animation-delay: 300ms;
  // animation-iteration-count: infinite;
}
