//@import 'themes/light.scss';
//@import '~@material/react-material-icon/index.scss';
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

#root {
  background: #008c44;
}
.spinner-border {
  border-width: 1px;
}

.spinner-sm {
  width: 1rem;
  height: 1rem;
}

.spinner-lg {
  width: 3rem;
  height: 3rem;
}

.navbar {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  .breadcrumb {
    padding: 0;
    margin: 0;
    background: transparent;
  }
}

.list-group-item {
  background-color: transparent;
  border-color: #e4e4e4;
}

.list-group-flush {
  .list-group-item {
    &:first-child {
      border-top-width: 0;
    }
  }
}

.form-control {
  &:focus {
    border-color: #ced4da;
  }
  &:disabled,
  &[readonly] {
    background: #fbfbfb;
    cursor: not-allowed
  }
}

.input-group-text {
  background: #fbfbfb;
}

$placeholder-color-focused: #fff; // #c5c5c5

.form-control.focused input,
.form-control:focus {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder-color-focused;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $placeholder-color-focused;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $placeholder-color-focused;
  }
}

.btn,
.form-control {
  &:focus {
    box-shadow: none;
  }
}

.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.dropdown-item {
  padding: 0.375rem 1.5rem;
}

.text-inline {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:focus,
button:focus {
  outline: none !important;
}

.w-100px {
  width: 100px;
}

.w-75px {
  width: 75px;
}

.w-48px {
  width: 48px;
}

.ubox {
  width: 1rem !important;
  height: 1rem !important;
}

.modal-full-screen {
  width: 100%;
  max-width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.clickable,
.clickable label {
  cursor: pointer;
}
